<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APP_TITLE_PRODUCTION" value="Model Verity 4000 Syringe Pump Production Utility" />
    <add key="APP_TITLE_SERVICE" value="Model Verity 4000 Syringe Pump Service Utility" />
    <add key="Serial Number Format" value="64...[KLNPQ]..." />
    <add key="Serial Number Format Label" value="64YMYmXXX" />
    <add key="Instrument 1" value="Verity 4060 Syringe Pump" />
    <add key="Instrument 2" value="Verity 4260 Syringe Pump" />
    <add key="Instrument 3" value="Verity 4020 Syringe Pump" />
    <add key="Instrument 4" value="Verity 4120 Syringe Pump" />
    <add key="Instrument 5" value="Verity 4220 Syringe Pump" />
    <add key="Model Type 1" value="K" />
    <add key="Model Type 2" value="L" />
    <add key="Model Type 3" value="N" />
    <add key="Model Type 4" value="P" />
    <add key="Model Type 5" value="Q" />
    <add key="Model Type K" value="0" />
    <add key="Model Type L" value="2" />
    <add key="Model Type N" value="1" />
    <add key="Model Type P" value="3" />
    <add key="Model Type Q" value="4" />
    <add key="Syringe Type K" value="10000" />
    <add key="Syringe Type L" value="10000" />
    <add key="Syringe Type N" value="10000" />
    <add key="Syringe Type P" value="10000" />
    <add key="Syringe Type Q" value="10000" />
    <add key="Path" value="C:\Users\Connell\AppData\Local\Gilson, Inc\GEARS Application" />
    <add key="LastPosition" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Tool Tip 0" value="m is Model" />
    <add key="Tool Tip 1" value="K = 4020" />
    <add key="Tool Tip 2" value="L = 4220" />
    <add key="Tool Tip 3" value="N = 4120" />
    <add key="Tool Tip 4" value="P = 4060" />
    <add key="Tool Tip 5" value="Q = 4260" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>